@import "theme";

html.fullscreen {
    width: 100% !important;
    height: 100% !important;
}

html.fullscreen body {
    width: 100% !important;
    height: 100% !important;
}

html.fullscreen body div.root-container {
    height: 100% !important;
    display: flex;
    flex-direction: column;    
}

.navigation-container .bwv-nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-left: none;
    border-right: none;
}

.navigation-container a.bwv-nav-item:hover {
    text-decoration: none;
}

.navigation-container .bwv-nav-item.parent.expanded {
    background-color: darken($cream, 15%);
}

.navigation-container .bwv-nav-item.child {
    background-color: darken($cream, 15%);
}
