<div class="container-fluid mx-0 px-0 navigation-container">
    <div class="row py-4 bg-primary mb-4">
        <div class="col d-flex justify-content-center align-items-center">
            <div style="width:76px; height:76px"
                class="bg-dark rounded d-flex justify-content-center align-items-center">
                <span class="fa fa-tree fa-4x text-secondary"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="bwv-navigation-list w-100 flex-column">
            <a href="#" class="bwv-nav-item p-2">
                <span>
                    <span class="fa fa-home fa-lg fa-fw"></span>
                    <span>Home</span>
                </span>
            </a>

            <a href="#" class="bwv-nav-item p-2">
                <span>
                    <span class="fa fa-bell fa-lg fa-fw"></span>
                    <span>Alerts</span>
                </span>
            </a>

            <a href="#"
                class="parent bwv-nav-item p-2 expanded">
                <span>
                    <span class="fa fa-tree fa-lg fa-fw"></span>
                    <span>Vivariums</span>
                </span>
                <!-- <span class="fa fa-chevron-right fa-fw text-right"></span> -->
                <span class="parent-item-chevron fa fa-chevron-down fa-fw text-right"></span>

            </a>
            <div id="child-vivarium-list" class="child-vivarium-list">
                <a href="#"
                    class="child bwv-nav-item p-2 pl-4">
                    <span>
                        <span class="fa fa-fish fa-lg fa-fw"></span>
                        <span>Primary Aquarium - 20G</span>
                        <span class="badge badge-dange">4</span>
                    </span>
                </a>
                <a href="#"
                    class="child bwv-nav-item p-2 pl-4">
                    <span>
                        <span class="fa fa-fish fa-lg fa-fw"></span>
                        <span>Shrimp Tank - 9G</span>
                    </span>
                </a>
                <a href="#"
                    class="child bwv-nav-item p-2 pl-4">
                    <span>
                        <span class="fa fa-dragon fa-lg fa-fw"></span>
                        <span>Snake Tank</span>
                    </span>
                </a>
                <a href="#"
                    class="child bwv-nav-item p-2 pl-4">
                    <span>
                        <span class="fa fa-bug fa-lg fa-fw"></span>
                        <span>Ants - Batch Queen</span>
                    </span>
                </a>
                <a href="#"
                    class="child bwv-nav-item p-2 pl-4">
                    <span>
                        <span class="fa fa-bug fa-lg fa-fw"></span>
                        <span>Ants - Planter Queen</span>
                    </span>
                </a>


            </div>


            <a href="#" class="bwv-nav-item p-2">
                <span>
                    <span class="fa fa-cog fa-lg fa-fw"></span>
                    <span>Settings</span>
                </span>
            </a>

            <a href="#" class="bwv-nav-item p-2">
                <span>
                    <span class="fa fa-sign-out-alt fa-lg fa-fw"></span>
                    <span>Sign-Out</span>
                </span>
            </a>
        </div>
    </div>
</div>
